body{
    background: #2b2b2b;

}
.RedLight{
    text-align: center;
    -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.2s; /* Firefox < 16 */
    -ms-animation: fadein 0.2s; /* Internet Explorer */
    -o-animation: fadein 0.2s; /* Opera < 12.1 */
    animation: fadein 0.2s;

}
.RedLight input
{
    background: transparent;
    border: none;
    color: white;
    font-size: 25px;
    transition: 0.5s;
}
.RedLight input:hover
{
    cursor: grab;
    font-size: 30px;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}